In [2]:
'''Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple '''

s="this is a string"
l=[1,2,3,"this is a list",True]
f=2.1
t=(1,2,3,"this is tuple")
type(f)

float

In [8]:
'''Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.
'''
# var1=' '  ---- STRING
#var2='[DS,ML,Python]' ---- STRING
#var3=['ds','ml','python'] --- LIST
#var4=1. ----FLOAT

'Q2. Given are some following variables containing data:\n\n(i)\tvar1 = ‘ ‘\n\n(ii)\tvar2 = ‘[ DS , ML , Python]’\n\n(iii)\tvar3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\n\n(iv)\tvar4 = 1.\n\n\nWhat will be the data type of the above given variable.\n'

In [3]:
#Q3. Explain the use of the following operators using an example:

'''(i)	/

(ii)	% 

(iii)	//

(iv)	**
'''
# / operator is used for division
print(10/3)
# % gives remainder
print(17%5)
#// Floor Division
print(10//3)
#** is known as exponential operator
print(3**3)

3.3333333333333335
2
3
27

In [4]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
l=[1,2,3,4,"str",5+2j,True,2.1,1.1,[1,2]]
for i in l :
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
str
<class 'str'>
(5+2j)
<class 'complex'>
True
<class 'bool'>
2.1
<class 'float'>
1.1
<class 'float'>
[1, 2]
<class 'list'>

In [1]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''
a=int(input("enter number to be divided"))
b=int(input("enter divisor"))   
while a%b==0:
    print(a/b)
    break

enter number to be divided 4
enter divisor 2

2.0

In [ ]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not. '''
number_list = list(range(1, 26))
for number in number_list:
    if number % 3 == 0:
        print(f"{number} is divisible by 3")
    else:
        print(f"{number} is not divisible by 3")

In [13]:
#. Q7-What do you understand about mutable and immutable data types? Give examples for both showing
#this property.
'''
Mutable and immutable are two fundamental concepts in programming that describe whether a data type can be changed after 
it is created or not.
Immutable Data Types:

Immutable data types are those whose values cannot be modified after they are created. Any operation that appears to modify 
an immutable object actually creates a new object with the modified value. Examples of immutable data type are
'''
#string
name="prajwal"
name[3]="s"
print(s)
#this will not happen because string cannot be updated
 
#tuples
t=(1,2,3)
t[2]=4
print(t)
#this will not happen as items in tuples cannot be updated

'''
Mutable Data Types:
Mutable data types are those that can be modified after they are created. Operations on mutable objects can directly
change their value without creating a new object. Examples of mutable data types in Python are '''

#list
l=[1,2,3,4]
l[2]='s'
print(l)

#sets
set1 = {1, 2, 3}
set1.add(5)
print(set1)

TypeError: 'str' object does not support item assignment